@use './colors';

.main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
    border-radius: .5rem;
    background-color: #fff;

    &__image-container img {
            border-radius: .5rem .5rem 0 0;
            object-fit: cover;
            height: 180px;
            width: 100%;
        }

    &__content {
        // padding: 2rem 1.7rem 1rem;
    }

    &__text {
        padding: 2rem 1.7rem 0;

        &-title {
            margin-bottom: 1rem;
        }
    
        &-description {
            line-height: 1.6;
            margin-bottom: 1rem;
            color: colors.$clr-very-dark-grayish-blue;
        }
    }

    &__author-parent {
        margin: 0 -1.7rem -2rem;
        background-color: colors.$clr-very-dark-grayish-blue;
    }

    &__author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.7rem 1rem;
        border-radius: 0 0 .5rem .5rem;
        transition: all .3s ease-in-out;

        &.author_active {
            background-color: colors.$clr-very-dark-grayish-blue;
        }

        &-image-container {
            width: 2.5rem;
            
            img {
                border-radius: 50%;
            }
        }

        &-flex {
            display: flex;
            gap: 1rem;
            align-items: center;
            min-height: 2.5rem;

            a {
                color: colors.$clr-desaturated-dark-blue;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
            }
        }

        &-icons {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
                font-size: 1.3rem;
            }

            a {
                color: colors.$clr-light-grayish-blue;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-date {
            color: colors.$clr-very-dark-grayish-blue;
        }

        &-icon {
            padding: .5rem;
            border-radius: 50%;
            background-color: colors.$clr-light-grayish-blue;
            cursor: pointer;
            border: none;
            background-color: none;
        }
    }
}

.divs-active {
    display: none;
}