@use '../sass' as *;
@use './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: colors.$clr-light-grayish-blue;

    img,
    picture,
    svg {
        display: block;
        max-width: 100%; 
    }

    a {
        text-decoration: none;
    }
}